manifest {
    mainScript = 'annotation.nf'
}

profiles {
    standard {
        executor = 'local'
        process.container = 'hadrieng/prokka'
        docker.enabled = true
    }

    planet {
        executor = 'sge'

        process.$circlator.clusterOptions = '-S /bin/bash'
        process.$circlator.time = '30m'
        process.$circlator.penv = 'smp'
        process.$circlator.cpus = 1
        process.$circlator.memory = '5G'
        process.$circlator.module = 'circlator'

        process.$prokka.clusterOptions = '-S /bin/bash'
        process.$prokka.time = '2h'
        process.$prokka.penv = 'smp'
        process.$prokka.cpus = 8
        process.$prokka.memory = '1G'
        process.$prokka.module = 'prokka'

        process.$gff3toembl.clusterOptions = '-S /bin/bash'
        process.$gff3toembl.time = '10m'
        process.$circlator.penv = 'smp'
        process.$gff3toembl.cpus = 1
        process.$gff3toembl.memory = '5G'
        process.$gff3toembl.module = 'gff3toembl'
    }
}
